@import url('base.css');

section {
  min-height: 100vh;
  text-align: center;
  &:nth-child(odd) {
    background-color: #000000;
    * {
      color: #ffffff;
      &:hover {
        color: #dddddd;
      }
    }
  }
}
