/* Variables */
:root {
    --primary-color: #000000;

    --section-padding: 5rem;
    --container-gap: 3rem;
    --container-grid-template-columns: repeat(12, 1fr);

    @media (max-width: 800px) {
      --section-padding: 3rem;
      --container-gap: 0rem;
      --container-grid-template-columns: 1fr;
    }
  }
  
  /* Reset */
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* General */
  html {
    font-size: 62.5%; /* 10px base for rem calculations */
    scroll-behavior: smooth;
  }
  
  body {
    color: var(--primary-color);
    font-family: serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.6;
  }
  
  /* Text */
  h1 {
    color: var(--primary-color);
    font-weight: 300;
    font-size: 4rem;
  }

  
  a {
    color: var(--primary-color);
    &:hover {
      text-decoration: underline;
    }
  }
  
  /* Layout */
  section {
    &:not(section section) {
      align-content: center;
      padding: var(--section-padding);
    }
    &:first-child {
      padding-top: calc(var(--section-padding) * 2);
    }
    &:last-child {
      padding-bottom: calc(var(--section-padding) * 2);
    }
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    gap: var(--container-gap);
    grid-template-columns: var(--container-grid-template-columns);
    text-align: justify;
  }
  
  .column-1 { grid-column: span 1; }
  .column-2 { grid-column: span 2; }
  .column-3 { grid-column: span 3; }
  .column-4 { grid-column: span 4; }
  .column-5 { grid-column: span 5; }
  .column-6 { grid-column: span 6; }
  .column-7 { grid-column: span 7; }
  .column-8 { grid-column: span 8; }
  .column-9 { grid-column: span 9; }
  .column-10 { grid-column: span 10; }
  .column-11 { grid-column: span 11; }
  .column-12 { grid-column: span 12; }
